html,
body {
	height: 100%;
}

body.my-login-page {
	font-size: 14px;

}


.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 1px 3px rgba(26,26,26,.6);
}

.my-login-page .card.fat {
	padding: 10px;
	margin-top: 120px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.card-title:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 0;
	right: inherit;
	top: 60px;
	left: 0;
	bottom: 0px;
	background: #333;
	transition: 2s ease all;
}

.card-title:hover:after {
	width: 100%;
	transition: 2s ease all;
}
